h1 {

  background-color: #0009ff;
}

ul {

  font-size: 10px;
}

img {

  width: 250px;
  height: 250px;
}

.chaussureParent {

  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: left;
}

article {

  background-color: #0009ff;
  padding: 150px;
}



