h1 {


  height: 20%;
  color: #af6413;
}

ul {

  font-size: 10px;

}

img {

  width: 250px;
  height: 250px;
}

nav {

  display: flex;
  flex-direction: row;
  justify-content: center;

}

article {

  background-color: #b3691e;
  padding: 150px;
}



