<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <div class="article-wrapper">
    <nav>
      <!--//on parcour notre tableau d'objet du parent
      // qui va injecté dans propriété enfant-->
      <app-article-thumbnail [class.selected]="articles == currentArticle"
                             *ngFor="let article of articles"
                             [article]="article"
                             [isActive]="article === currentArticle"
                             (articleSelected)="setCurrent($event)">
        <!--event est une instruction statique pour récupérer l'evenemtn-->
      </app-article-thumbnail>
    </nav>
    <div class="detail">
      <app-article-detail [article]="currentArticle"></app-article-detail>
      <!--  Mécanisme de property binding -->
      <app-article-create (articleCreated)="add($event)" (articleCanceled)="remove($event)"></app-article-create>
    </div>
  </div>
</div>

